body {
  color: hsl(0, 0%, 0%);
  text-align: center;
  background-attachment: fixed;
  font-family: Lobster;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#myClockDisplay {
  text-align: center;
  color: hsl(0, 0%, 0%);
  font-size: xx-large;
}

#timeOfDay {
  text-align: center;
  color: hsl(0, 0%, 0%);
  font-size: xx-large;
}

.container {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.2);
  transition: 0.3s;
  background-color: hsl(159.8, 100%, 74.9%);
  width: 50%;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  align-items: center;
  margin-top: 15%;
}

.container:hover {
  box-shadow: 0 8px 16px 0 hsla(0, 0%, 0%, 0.2);
}

.dark-mode {
  background-color: hsl(0, 0%, 10.2%);
  .container:hover {
    box-shadow: 0 5px 16px 0 hsl(0, 0%, 100%);
  }
}

#btn {
  width: 75%;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
}

@media screen and (max-width: 800px) {
  .container {
    margin-top: 27%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 40%;
  }
}

@media screen and (max-width: 400px) {
  .container {
    margin-top: 50%;
  }
}
