@font-face {
  font-family: Astropolis;
  src: url(../fonts/AstropolisLaser.ttf);
  font-style: normal;
}

@font-face {
  font-family: VCR_OSD;
  src: url(../fonts/VCR_OSD.ttf);
  font-style: normal;
}

body {
  color: hsl(0, 0%, 0%);
  text-align: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#myClockDisplay {
  text-align: center;
  color: hsl(0, 0%, 0%);
  font-size: xx-large;
  font-family: VCR_OSD;
}

#timeOfDay {
  text-align: center;
  color: hsl(0, 0%, 0%);
  font-size: xx-large;
  font-family: Astropolis;
}

.container {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.2);
  transition: 0.3s;
  background-color: hsl(159.8, 100%, 74.9%);
  width: 50%;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  align-items: center;
  margin-top: 15%;
}

.container:hover {
  box-shadow: 0 8px 16px 0 hsla(0, 0%, 0%, 0.2);
}

.dark-mode {
  background-color: hsl(0, 0%, 10.2%);
  .container:hover {
    box-shadow: 0 5px 16px 0 hsl(0, 0%, 100%);
  }
  #btn {
    color: hsl(0, 0%, 100%);
  }
}

#btn {
  width: 75%;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
  background-color: hsl(295, 100%, 68%);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 7px;
}

#btn:hover {
  background-color: hsl(295, 74%, 61%)
}

@media screen and (max-width: 800px) {
  .container {
    margin-top: 27%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 40%;
  }
}

@media screen and (max-width: 400px) {
  .container {
    margin-top: 50%;
  }
}
